.home-header {
    background: -webkit-linear-gradient(rgba(2, 2, 2, 0.47), rgba(0, 0, 0, 0.173)), url("../../images/home-header-image.png");
    background: linear-gradient(rgba(2, 2, 2, 0.47), rgba(0, 0, 0, 0.173)), url("../../images/home-header-image.png");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 4%;
}

.rooms-header {
    background: -webkit-linear-gradient(rgba(2, 2, 2, 0.47), rgba(0, 0, 0, 0.173)), url("../../images/rooms-top-image.png");
    background: linear-gradient(rgba(2, 2, 2, 0.47), rgba(0, 0, 0, 0.173)), url("../../images/rooms-top-image.png");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 4%;
}

.facilities-header {
    background: -webkit-linear-gradient(rgba(2, 2, 2, 0.47), rgba(0, 0, 0, 0.173)), url("../../images/faciliries-top-image.png");
    background: linear-gradient(rgba(2, 2, 2, 0.47), rgba(0, 0, 0, 0.173)), url("../../images/faciliries-top-image.png");
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 4%;
}

.contact-header {
    background-color: #14274A;
    width: 100%;
    height: 60vh;
    padding: 0 4%;
}

.logo-wrapper {
    background-color: #FDBA74;
    color: #14274A;
    border-radius: 0 0 22px 22px;
}

.logo-wrapper h3 {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 300;
    margin-right: 3em;
    transition: .5s;
}

nav a:hover {
    border-bottom: 2px solid #FDBA74;
}

.nav-container button {
    background-color: #FDBA74;
    font-size: 1.3em;
    font-weight: 400;
}

.nav-container button:hover {
    background-color: #E0B973;
}


/* Media query */
@media only screen and (max-width: 668px) {

    .home-header,
    .rooms-header,
    .facilities-header,
    .contact-header {
        height: 40vh;
    }

    .logo-wrapper h3 {
        font-size: 1em;
    }

    nav a {
        color: white;
        margin: 5px 10px;
    }

    nav a:hover {
        border-bottom: 2px solid #14274A;
    }
}

@media only screen and (min-width: 669px) and (max-width: 992px) {

    .home-header,
    .rooms-header,
    .facilities-header,
    .contact-header {
        height: 70vh;
    }

    nav a {
        margin-right: 2em;
    }
}